<div class="btn-colors btn-demo calling-disposition m-b-10"> 
	<button class="btn bgm-cyan waves-effect">Call Back</button>
	<button class="btn bgm-teal waves-effect">Got Lead</button>
	<button class="btn bgm-orange waves-effect">Appointment</button>
	<button class="btn bgm-deeporange waves-effect">Deep Orange</button>
	<button class="btn bgm-red waves-effect">Do Not Call</button>
	<button class="btn bgm-pink waves-effect">Schedule Call</button>
	<button class="btn bgm-blue waves-effect">Got Sale</button>
	<button class="btn bgm-lightgreen waves-effect">Send Mail</button>
	<button class="btn bgm-black waves-effect">Wrong Number</button>
</div>