
<div class="pmb-block">
    <div class="block-header">
        <h2>Timeline<small>Details</small></h2>

<!--        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>                                             
        </ul>-->

    </div>

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label hidden-xs">8 Records</h2>

            <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
                <input type="text" placeholder="Start typing..." class="lvhs-input">

                <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
            </div>

            <ul class="lv-actions actions">
                <li>
                    <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
<!--                <li>
                    <a href="">
                        <i class="zmdi zmdi-time"></i>
                    </a>
                </li>-->
                <li class="dropdown" dropdown="">
                    <a href="" dropdown-toggle="" aria-expanded="false" aria-haspopup="true">
                        <i class="zmdi zmdi-sort"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Last Added</a>
                        </li>
                        <li>
                            <a href="">Campaign Name</a>
                        </li>
                        <li>
                            <a href="">Date</a>
                        </li>
                    </ul>
                </li>
<!--                <li>
                    <a href="">
                        <i class="zmdi zmdi-info"></i>
                    </a>
                </li>-->
<!--                <li class="dropdown" dropdown="">
                    <a href="" dropdown-toggle="" aria-expanded="false" aria-haspopup="true">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Settings</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>

        <div class="card-body card-padding">                     
            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                    <span class="d-block">Dec 12</span>
                    09:40 AM<br /><br />tomvokars
                </div>  

                <div class="pt-body" style="padding-left: 15px;">
                    <h2 class="ptb-title">Reap007 Dec 16, 2015 (camrm-la-03 12/16/2015)</h2>
					<p>Updated to Answering machine</p>
                </div>

            </div>

            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                    <span class="d-block">Dec 10</span>
                    01:40 AM <br /><br />tomvokas1
					
                </div>  

                <div class="pt-body" style="padding-left: 15px;">
                    <h2 class="ptb-title">Reap007 Dec 16, 2015 (camrm-la-02 12/16/2015)</h2>
					<p>Updated to Answering machine</p>
                </div>
            </div>

            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                    <span class="d-block">Dec 10</span>
                    01:40 AM <br /><br />tomvokas1
					
                </div>  

                <div class="pt-body" style="padding-left: 15px;">
                    <h2 class="ptb-title">Reap007 Dec 16, 2015 (camrm-la-02 12/16/2015)</h2>
					<p>Updated to Answering machine</p>
                </div>
            </div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Nov 26</span>
					09:40 AM<br /><br />tomvokas2
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title"> Landvoice Dec 16, 2015 (landvoice expired) </h2>
					<p>Played answering machine</p>
				</div>

			</div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Nov 07</span>
					01:40 AM<br /><br />tomvokas3
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title"> Landvoice Dec 16, 2015 (landvoice expired)</h2>
					<p>Played answering machine.</p>
				</div>
			</div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Oct 16</span>
					12:40 AM<br /><br />tomvokas4
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title">RENO 89501 65-99 NEVADA </h2>
					<p>Updated to Callback</p>
				</div>

			</div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Oct 01</span>
					01:40 AM<br /><br />tomvokas5
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title">CCDecember.15AL</h2>
					<p>Updated to Callback</p>
				</div>
			</div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Apr 12</span>
					09:40 AM<br /><br />tomvokas6
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title">CCDecember.17AL </h2>
					<p>Updated to Callback</p>
				</div>

			</div>

			<div class="p-timeline">
				<div class="pt-line c-gray text-right">
					<span class="d-block">Apr 02</span>
					01:40 AM<br />tomvokas7
				</div>  

				<div class="pt-body" style="padding-left: 15px;">
					<h2 class="ptb-title">CCDecember.16AL</h2>
					<p>Updated to Callback</p>
				</div>
			</div>
		</div>
	</div>
</div>

