<div data-ng-controller="materialadminCtrl as mactrl">	
<header id="header" data-ng-include="'modules/newec/client/views/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'modules/newec/client/views/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === false }"></aside>

    <aside id="chat" data-ng-include="'modules/newec/client/views/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="" dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

			<div class="mini-charts">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mini-charts-item bgm-cyan">
                            <div class="clearfix">
                                <div class="chart stats-bar" data-sparkline-bar></div>
                                <div class="count">
                                    <small>Website Traffics</small>
                                    <h2>987,459</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="mini-charts-item bgm-lightgreen">
                            <div class="clearfix">
                                <div class="chart stats-bar-2" data-sparkline-bar></div>
                                <div class="count">
                                    <small>Website Impressions</small>
                                    <h2>356,785K</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="mini-charts-item bgm-orange">
                            <div class="clearfix">
                                <div class="chart stats-line" data-sparkline-line></div>
                                <div class="count">
                                    <small>Total Sales</small>
                                    <h2>$ 458,778</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<div class="card-header">
							<h2>Lines Chart <small>Same above example without curved edges.</small></h2>

							<ul class="actions">
								<li class="dropdown action-show" dropdown>
									<a href="" dropdown-toggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>

									<div class="dropdown-menu pull-right">
										<p class="p-20">
											You can put anything here
										</p>
									</div>
								</li>
							</ul>
						</div>

						<div class="card-body">
							<div class="chart-edge">
								<div id="line-chart" data-line-chart class="flot-chart"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card">
						<div class="card-header">
							<h2>Bar Chart</h2>

							<ul class="actions">
								<li class="dropdown action-show" dropdown>
									<a href="" dropdown-toggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>

									<div class="dropdown-menu pull-right">
										<p class="p-20">
											You can put anything here
										</p>
									</div>
								</li>
							</ul>
						</div>

						<div class="card-body card-padding-sm">
							<div class="flot-chart" data-bar-chart></div>
							<div class="flc-bar"></div>
						</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div id="pie-charts" class="dash-widget-item">
						<div class="bgm-pink">
							<div class="dash-widget-header">
								<div class="dash-widget-title">Email Statistics</div>
							</div>

							<div class="clearfix"></div>

							<div class="text-center p-20 m-t-25">
								<div class="easy-pie main-pie" data-percent="75" data-easypie-chart>
									<div class="percent">45</div>
									<div class="pie-title">Total Emails Sent</div>
								</div>
							</div>
						</div>

						<div class="p-t-20 p-b-20 text-center">
							<div class="easy-pie sub-pie-1" data-percent="56" data-easypie-chart>
								<div class="percent">56</div>
								<div class="pie-title">Bounce Rate</div>
							</div>
							<div class="easy-pie sub-pie-2" data-percent="84" data-easypie-chart>
								<div class="percent">84</div>
								<div class="pie-title">Total Opened</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="card">
						<div class="card-header">
							<h2>Pie Chart</h2>

							<ul class="actions">
								<li class="dropdown action-show" dropdown>
									<a href="" dropdown-toggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>

									<div class="dropdown-menu pull-right">
										<p class="p-20">
											You can put anything here
										</p>
									</div>
								</li>
							</ul>
						</div>

						<div class="card-body card-padding">
							<div id="pie-chart" class="flot-chart-pie" data-pie-donut></div>
							<div class="flc-pie hidden-xs"></div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div id="site-visits" class="dash-widget-item bgm-teal">
						<div class="dash-widget-header">
							<div class="p-20">
								<div class="dash-widget-visits" data-sparkline-line></div>
							</div>

							<div class="dash-widget-title">For the past 30 days</div>

							<ul class="actions actions-alt">
								<li class="dropdown" dropdown>
									<a href="" dropdown-toggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a href="">Refresh</a>
										</li>
										<li>
											<a href="">Manage Widgets</a>
										</li>
										<li>
											<a href="">Widgets Settings</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>

						<div class="p-20">
							<small>Page Views</small>
							<h3 class="m-0 f-400">47,896,536</h3>
							<br/>
							<small>Site Visitors</small>
							<h3 class="m-0 f-400">24,456,799</h3>
							<br/>
							<small>Total Clicks</small>
							<h3 class="m-0 f-400">13,965</h3>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
                    <div id="calendar-widget" data-full-calendar></div>
                </div>
			</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'modules/newec/client/views/template/footer.html'"></footer>
</div>