<!--<div class="container" data-ng-controller="contactCtrl as cctrl">-->
<div class="container" data-ng-controller="contactCtrl as cctrl" ng-init="getContacts()">

    <div class="card">
        <div class="card-header">
			<!--<button class="btn bgm-blue btn-float waves-effect waves-effect waves-circle" data-ui-sref="contact.addcontact"><i class="zmdi zmdi-plus"></i></button>-->
            <h2>Contacts <small>List of Contact</small></h2>
			<ul class="actions">
				<li>
					<a href="">
						<i class="zmdi zmdi-download zmdi-hc-fw"></i>
					</a>
				</li>
			</ul>
        </div>
        <div class="card-body card-padding p-t-0 ng-scope" data-ng-controller="CollapseDemoCtrl">
            <button ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-icon waves-effect waves-circle"><i class="zmdi zmdi-search"></i></button>
			<button data-ui-sref="contact.addcontact"  class="btn bgm-cyan btn-icon waves-effect waves-circle waves-effect waves-circle pull-right"><i class="zmdi zmdi-plus"></i></button>
			<div class="filter-container filter-container-multi" title="">
				<ul class="filter-choices">
					<li class="search-choice">
						<span class="f-500">List per page: </span> 
						<span>25</span>
						<a class="search-choice-close" data-option-array-index="0"></a>
					</li>
					<li class="search-choice">
						<span class="f-500">State: </span> 
						<span>United States</span>
						<a class="search-choice-close" data-option-array-index="0"></a>
					</li>
					<li class="search-choice">
						<span class="f-500">Phone Number: </span>
						<span>123123123</span>
						<a class="search-choice-close" data-option-array-index="4"></a>
					</li>
					<li class="search-choice">
						<span class="f-500">Email: </span>
						<span>salesdialers@sd.com</span>
						<a class="search-choice-close" data-option-array-index="5"></a>
					</li>
				</ul>
			</div>
            <br>
            <div style="height: 0px;" class="collapse" collapse="isCollapsed">
				<div class="card">
					<div class="card-header z-depth-2-top" data-ng-controller="ModalDemoCtrl">
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group fg-float">
									<div class="fg-line">
										<input type="text" class="form-control fg-input" id="street">
									</div>
									<label class="fg-label">Phone Number</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group fg-float">
									<div class="fg-line">
										<input type="text" class="form-control fg-input" id="street">
									</div>
									<label class="fg-label">Name</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group fg-float">
									<div class="fg-line">
										<input type="text" class="form-control fg-input" id="city">
									</div>
									<label class="fg-label">Email</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group fg-float">
									<div class="fg-line">
										<input type="text" class="form-control fg-input" id="city">
									</div>
									<label class="fg-label">Tag</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group fg-float">
									<div class="fg-line">
										<input type="text" class="form-control fg-input" id="state">
									</div>
									<label class="fg-label">State</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control">
												<option>Select an Country</option>
												<option>India</option>
												<option>US</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control">
												<option>Select an Group</option>
												<option>AAAA</option>
												<option>BBBB</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="fg-line">
										<div class="select">
											<select class="form-control">
												<option>List per Page</option>
												<option selected="">25</option>
												<option>50</option>
												<option>100</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-sm m-t-10 waves-effect" ng-click="isCollapsed = !isCollapsed">Search</button>
						<button  ng-click="open('lg')" class="btn btn-primary btn-sm m-t-10 waves-effect waves-effect pull-right"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Search Setting</button>
						<script type="text/ng-template" id="myModalContent.html">
							<div class="modal-header">
							<h4 class="modal-title">Search Settings</h4>
							</div>
							<div class="modal-body">
								<div class="fg-float form-group m-b-0">
									<div class="fg-line">
										<input type="text" class="input-sm form-control fg-input">
									</div>
									<label class="fg-label">Search From 120 Fields (Max 8 Fields)</label>
								</div>
								<div title="" class="filter-container filter-container-multi m-t-10">
									<ul class="filter-choices">
										<li class="search-choice">
											<span class="f-500">List per page: </span> 
											<span>25</span>
											<a data-option-array-index="0" class="search-choice-close"></a>
										</li>
										<li class="search-choice">
											<span class="f-500">State: </span> 
											<span>United States</span>
											<a data-option-array-index="0" class="search-choice-close"></a>
										</li>
										<li class="search-choice">
											<span class="f-500">Phone Number: </span>
											<span>123123123</span>
											<a data-option-array-index="4" class="search-choice-close"></a>
										</li>
										<li class="search-choice">
											<span class="f-500">Email: </span>
											<span>salesdialers@sd.com</span>
											<a data-option-array-index="5" class="search-choice-close"></a>
										</li>
									</ul>
								</div>
								<div class="checkbox m-t-15 searchcontainer">
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample1" id="sample1">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
							<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" value="" name="sample">
										<i class="input-helper"></i>
										Phone Numeber
									</label>
									<label class=" col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Name
									</label>
									<label class="col-sm-3 m-t-10">
										<input type="checkbox" name="sample" value="">
										<i class="input-helper"></i>
										Email
									</label>
								</div>
							</div>
							<div class="modal-footer">
							<button class="btn btn-link" ng-click="ok()">OK</button>
							<button class="btn btn-link" ng-click="cancel()">Cancel</button>
							</div>
						</script>
					</div>
				</div>
            </div>

        </div>        
        <div class="card-body">
            <div class="table-responsive" >
						<div>{{assetsDetails}}</div>
				<p class="m-l-25"><strong>Total Count:</strong> {{totalcount}}</p>
                <table ng-table="aEdit" class="table table-vmiddle table-hover">
                    <tr ng-repeat="w in $data"  ng-class="{ 'active': w.$edit }">
                        <td header="'modules/newec/client/views/template/contact-header-checkbox.html'"><input type="checkbox" ng-model="w.id" /></td>
<!--                            <span ng-if="!w.$edit">{{ w.id}}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="checkbox" ng-model="w.id" /></div>-->
                        <!--</td>-->
                        <td data-title="'Name'">
                            <span ng-if="!w.$edit">{{ w.name}}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.name" /></div>
                        </td>
                        <td data-title="'Email'">
                            <span ng-if="!w.$edit">{{ w.email}}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="email" ng-model="w.email" /></div>
                        </td>
                        <td data-title="'Phone Number'">
                            <span ng-if="!w.$edit">{{ w.contact}}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.contact" /></div>
                        </td>
                        <td data-title="'Actions'">
                            <button type="button" class="btn btn-default" data-ui-sref="contact.viewcontact.viewcontact-about({targetId: w.id})"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></button>
                            <button type="button" class="btn btn-default" data-ui-sref="contact.viewcontact.viewcontact-about({targetId: w.id})"><i class="zmdi zmdi-edit"></i></button>
                            <!--<button type="button" class="btn btn-default" data-ui-sref="contact.editcontact({targetId: w.id})"><i class="zmdi zmdi-edit"></i></button>-->
                            <button type="button" class="btn btn-default" data-ui-sref="contact.listcontact" data-swal-warning data-ng-click="deleteContactById(w.id)"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>        
</div>
