<div class="pmb-block">
    <div class="card">                
        <div class="card-body">
            <div class="table-responsive">
				<table class="table table-hover">
                <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Campaign Name</th>
                        <th>Called on</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>17134681628</td>
                        <td>CCDecember.15AL</td>
                        <td>2015-11-02 04:47:31 </td>
                        <td>Connected</td>
                    </tr>
                    <tr>
                        <td>17134681627</td>
                        <td>Carson</td>
                        <td>2015-10-02 04:47:31 </td>
                        <td>Busy</td>
                    </tr>
                    <tr>
                        <td>1713468166</td>
                        <td>CCDecember.15AL2</td>
                        <td>2015-11-12 04:47:31 </td>
                        <td>Connected</td>
                    </tr>
                    <tr>
                        <td>17134681625</td>
                        <td>CCDecember.15AL</td>
                        <td>2015-11-22 04:47:31 </td>
                        <td>Answered</td>
                    </tr>
                    <tr>
                        <td>17134681624</td>
                        <td>CCDecember.15AL</td>
                        <td>2015-11-12 01:47:31 </td>
                        <td>Busy</td>
                    </tr>
                    <tr>
                        <td>17134681623</td>
                        <td>CCDecember.15AL</td>
                        <td>2015-11-02 04:27:31 </td>
                        <td>Answered</td>
                    </tr>
                    <tr>
                        <td>17134681623</td>
                        <td>CCDecember.15AL</td>
                        <td>2015-11-02 04:47:31 </td>
                        <td>Busy</td>
                    </tr>
                    
                </tbody>
            </table>
<!--                <table ng-table="tctrl.tableEdit" class="table table-hover">
                    <tr ng-repeat="w in $data"  ng-class="{ 'active': w.$edit }">
                        <td data-title="'Phone '">
                            <span ng-if="!w.$edit">{{ w.email }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="email" ng-model="w.email" /></div>
                        </td>
                        <td data-title="'Campaign Name'">
                            <span ng-if="!w.$edit">{{ w.username }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.username" /></div>
                        </td>
                        <td data-title="'Called on'">
                            <span ng-if="!w.$edit">{{ w.name }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.name" /></div>
                        </td>
                        <td data-title="'Status'">
                            <span ng-if="!w.$edit">{{ w.contact }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.contact" /></div>
                        </td>
                    </tr>
                </table>-->
            </div>
        </div>
    </div>        
</div>


