<form class="form-horizontal" role="form" >
	<div class="card">
		<div class="card-header">
			<h2>Subscription</h2>
		</div>
		<div class="card-body card-padding">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="inputEmail3">Subscription Product</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<!--<input type="text" placeholder="Salutation" id="salutation" class="form-control input-sm">-->
						<div class="select">
							<select class="form-control" name="product">
								<option>--Select--</option>
								<option selected="" value="200">SD1MU</option>
								<option selected="" value="201">SD2MU</option>
								<option selected="" value="202">SD3MU</option>
								<option selected="" value="203">SD4MU</option>
								<option selected="" value="204">SD1P1</option>
								<option selected="" value="205">SD1P2</option>
								<option selected="" value="206">SD1P3</option>
								<option selected="" value="207">SD1P4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="startdate">Subscription Start Date</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" class="form-control fg-input" id="startdate" value="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="enddate">Subscription End Date</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" class="form-control fg-input" id="enddate" value="">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</form>