<form class="form-horizontal" role="form" >
	<div class="card">
		<div class="card-body card-padding">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="Hostname">SMTP Hostname</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="Hostname" id="hostname" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="Port">SMTP Port</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="Port" id="port" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="SSL">Secure Connection Prefix</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="SSL" id="ssl" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="smtp">Use SMTP Auth?</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="Auth" id="auth" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="smtp_username">SMTP Username</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="SMTP Username" id="smptusername" class="form-control input-sm">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="smtppassword">SMTP Password</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<input type="text" placeholder="SMTP Password" id="smtppassword" class="form-control input-sm">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<!--<div class="row">
	<div class="col-sm-6">
		<div class="form-group fg-float">
			<div class="fg-line">
				<input type="text" class="form-control fg-input" id="hostname">
			</div>
			<label class="fg-label"> SMTP Hostname </label>
			<small>Username for this user's account</small>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group fg-float">
			<div class="fg-line">
				<input type="text" class="form-control fg-input" id="port">
			</div>
			<label class="fg-label">SMTP Port</label>
			<small>This is generally 25.</small>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group fg-float">
			<div class="fg-line">
				<input type="text" class="form-control fg-input" id="ssl">
			</div>
			<label class="fg-label">Secure Connection Prefix</label>
			<small>Sets connection prefix for secure connections</small>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<label class="checkbox checkbox-inline m-r-20">
			Use SMTP Auth?
			<small>If checked, you must Provide the SMTP username and password</small>
			<input type="checkbox" name="access_level" value="option1">
			<i class="input-helper"></i>
		</label>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group fg-float">
			<div class="fg-line">
				<input type="text" class="form-control fg-input" id="smtp_username">
			</div>
			<label class="fg-label">SMTP Username</label>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group fg-float">
			<div class="fg-line">
				<input type="text" class="form-control fg-input" id="smtp_password">
			</div>
			<label class="fg-label">SMTP Password</label>
		</div>
	</div>
</div>-->
