<form class="form-horizontal" role="form">
	<div class="card">
		<div class="card-body card-padding">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="Bridge">Bridge Number</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<!--<input type="text" placeholder="Bridge" id="bridge" class="form-control input-sm">-->
						<label class="col-sm-2 control-label">1048</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="Domain">Domain</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<!--<input type="text" placeholder="Domain" id="domain" class="form-control input-sm">-->
						<label class="col-sm-2 control-label">sdcv.salesdialers.com</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="UserID">User ID</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<!--<input type="text" placeholder="User ID" id="userid" class="form-control input-sm">-->
						<label class="col-sm-2 control-label" >68302</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="Password">Password</label>
				<div class="col-sm-4">
					<div class="fg-line">
						<!--<input type="text" placeholder="Password" id="passowrd" class="form-control input-sm">-->
						<label class="col-sm-2 control-label">319</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<!--<div class="pmb-block clearfix">
    <button class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group fg-float">
				<div class="fg-line">
					<input type="text" class="form-control fg-input" id="username">
				</div>
				<label class="fg-label"> Bridge Number </label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group fg-float">
				<div class="fg-line">
					<input type="text" class="form-control fg-input" id="password">
				</div>
				<label class="fg-label">Domain</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group fg-float">
				<div class="fg-line">
					<input type="text" class="form-control fg-input" id="cpassword">
				</div>
				<label class="fg-label">User ID</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group fg-float">
				<div class="fg-line">
					<input type="text" class="form-control fg-input" id="cpassword">
				</div>
				<label class="fg-label">Password</label>
			</div>
		</div>
	</div>

    <div class="clearfix"></div>

</div>-->
