<style>
	.form-control {
		height: 30px;
	}
</style>

<div class="addUserContainer" data-ng-controller="DatepickerDemoCtrl">
	<form class="form-horizontal" role="form" >
		<div>
			<div class="card-header">
				<h2>Basic Information</h2>
			</div>
			<div class="card-body card-padding">
				<div class="row">
					<div class="form-group col-sm-12">
						<label class="col-sm-2 control-label" for="hostname">Name</label>
						<div class="col-sm-2">
							<div class="select">
								<select class="form-control">
									<option>Mr</option>
									<option>Ms</option>
								</select>

							</div>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control input-sm" id="fname" placeholder="First Name">
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control input-sm" id="lname" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group fg-line col-sm-6">
						<label for="ssl" class="col-sm-4 control-label">Age</label>
						<div class="col-sm-3">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Age" id="lname" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="ssl" class="col-sm-4 control-label">Gender</label>
						<div class="col-sm-4">
							<div class="ng-binding select">
								<select class="form-control">
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div >
			<div class="card-header">
				<h2>Contact Information</h2>
			</div>
			<div class="card-body card-padding">
				<div class="row">
					<div class="form-group fg-line col-sm-6">
						<label for="hostname" class="col-sm-4 control-label">Primary Phone</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Primary Phone" id="primary" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group fg-line col-sm-6">
						<label for="ssl" class="col-sm-4 control-label">Alternate Phone</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Alternate Phone" id="lname" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group fg-line col-sm-6">
						<label for="ssl" class="col-sm-4 control-label">Email</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="email" placeholder="Email" id="email" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group fg-line col-sm-6 ">
						<label for="hostname" class="col-sm-4 control-label">Extension</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Extension" id="extension" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group fg-line col-sm-6 ">
						<label for="ssl" class="col-sm-4 control-label">Fax</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Fax" id="fax" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div >
			<div class="card-header">
				<h2>Address Information</h2>
			</div>
			<div class="card-body card-padding">
				<div class="row">
					<div class="form-group fg-line col-sm-6">
						<label for="hostname" class="col-sm-4 control-label">Street</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Street" id="street" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group fg-line col-sm-6 ">
						<label for="ssl" class="col-sm-4 control-label">City</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="City" id="city" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group fg-line col-sm-6">
						<label for="hostname" class="col-sm-4 control-label">State</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="State" id="state" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group fg-line col-sm-6">
						<label for="ssl" class="col-sm-4 control-label">Country</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Country" id="country" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group fg-line col-sm-6 control-label">
						<label for="ssl" class="col-sm-4 control-label">Zipcode</label>
						<div class="col-sm-8">
							<div class="fg-line ng-binding">
								<input type="text" placeholder="Zipcode" id="zipcode" class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="form-group fg-line col-sm-4">
						<label for="ssl" class="col-sm-4">DOB</label>
						<div class="col-sm-8">
							<div class="date-picker input-group input-group-addon" ng-class="{ 'is-opened': opened == true }">
								<span class=""><i class="zmdi zmdi-calendar ma-icon"></i></span>
								<div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
									<input ng-click="open($event, 'opened')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</form>
</div>