<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i>Softphone Settings</h2>

<!--        <ul class="actions" data-ng-if="pctrl.editProfileSmtpInfo === 0">
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editProfileSmtpInfo = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editProfileSmtpInfo === 0">
			<div class="row">
				<div class="form-group fg-line col-sm-12">
					<label for="hostname" class="col-sm-2">User Id</label>
					<div class="col-sm-4">
						<div class="fg-line ng-binding">
							1048
						</div>
					</div>
				</div>
				<div class="form-group fg-line col-sm-12">
					<label for="ssl" class="col-sm-2">Password</label>
					<div class="col-sm-4">
						<div class="fg-line ng-binding">
							319
						</div>
					</div>
				</div>
				<div class="form-group fg-line col-sm-12">
					<label for="hostname" class="col-sm-2">Display Name</label>
					<div class="col-sm-4">
						<div class="fg-line ng-binding">
							Leah Jensen
						</div>
					</div>
				</div>
				<div class="form-group fg-line col-sm-12">
					<label for="ssl" class="col-sm-2">Domain</label>
					<div class="col-sm-4">
						<div class="fg-line ng-binding">
							sdcv.salesdialers.com
						</div>
					</div>
				</div>
				<div class="form-group fg-line col-sm-12">
					<label for="hostname" class="col-sm-2">Authorization Name</label>
					<div class="col-sm-4">
						<div class="fg-line ng-binding">
							1048
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>