	<div class="chat-search ng-scope">
    <div class="fg-line">
        <input type="text" placeholder="Search Folder" class="form-control">
    </div>
</div>

<div class="listview ng-scope">
    

    <a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a href="" class="lv-item">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div style="font-size: 15px;" class="pull-left">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div><div class="pull-left" style="font-size: 15px;">
                <i class="zmdi zmdi-folder zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">Folder Folder Folder 1</div>
                
            </div>
        </div>
    </a>
<a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a><a class="lv-item" href="">
        <div class="media">
            <div class="pull-right">
                <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
            </div>
            <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
            </div>
        </div>
    </a>
</div>