<!--<div class="card-body card-padding p-t-10 ng-scope" data-ng-controller="CollapseDemoCtrl">
	<button ng-click="isCollapsed = !isCollapsed" class="btn call-script bgm-cyan waves-effect"><div class="pull-left">Call Script</div>
		<i class="zmdi zmdi-caret-down-circle zmdi-hc-fw pull-right"></i>
		<i class="zmdi zmdi-caret-up-circle zmdi-hc-fw pull-right"></i> 
	</button>
	<div style="height: 0px;" class="collapse" collapse="isCollapsed">
		<div class="card">
			<div class="card-header z-depth-2-top" data-ng-controller="ModalDemoCtrl">
				<div class="callscript-content">
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
					Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text.
				</div>
				<button class="btn btn-primary btn-sm m-t-10 waves-effect" ng-click="isCollapsed = !isCollapsed">Close</button>
			</div>
		</div>
	</div>
</div>  
<div class="btn-colors btn-demo calling-disposition m-b-10"> 
	<button class="btn bgm-cyan waves-effect">Call Back</button>
	<button class="btn bgm-teal waves-effect">Got Lead</button>
	<button class="btn bgm-orange waves-effect">Appointment</button>
	<button class="btn bgm-deeporange waves-effect">Deep Orange</button>
	<button class="btn bgm-red waves-effect">Do Not Call</button>
	<button class="btn bgm-pink waves-effect">Schedule Call</button>
	<button class="btn bgm-blue waves-effect">Got Sale</button>
	<button class="btn bgm-lightgreen waves-effect">Send Mail</button>
	<button class="btn bgm-black waves-effect">Wrong Number</button>
</div>-->
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="calling.info">Info</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="calling.notes">Timeline</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="calling.calls">Calls</a></li>
