<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="user.viewuserprofile.viewuserprofile-basic">Profile</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="user.viewuserprofile.viewuserprofile-smtp">SMTP settings</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="user.viewuserprofile.viewuserprofile-softphone">Softphone settings</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="user.viewuserprofile.viewuserprofile-subscriptions">Subscriptions</a></li>
