<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="contact.viewcontact.viewcontact-about">Contact Details</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="contact.viewcontact.viewcontact-notes">Notes History</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="contact.viewcontact.viewcontact-calls">Calls History</a></li>
<!--<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="contact.viewcontact.viewcontact-leads">Leads History</a></li>-->
